---
const personalImageAlt = "Nico Piovano";
import "./AboutMe.astro.css"
const { t } = Astro.locals

---

<article
        class="about-me flex flex-col md:flex-row items-center justify-center gap-12 w-full text-gray-700 dark:text-gray-300 px-8"
        id="aboutMe">
    <!-- Texto -->
    <div class="text-section order-2 md:order-1 flex-1 [&>p]:mb-4">
        {t.aboutMe.paragraphs.map((p: { before: string; strong: string; after: string }) => (
          <p>
            {p.before}
            <strong>{p.strong}</strong>
            {p.after}
          </p>
        ))}
    </div>



    <!-- Imagen -->
    <div class="image-wrapper order-1 md:order-2 flex-1 relative group flex justify-center items-center">
        <img src="/NicoPhoto.png" alt={personalImageAlt}
             class="rounded-2xl w-72 md:w-80 aspect-square object-cover p-2 rotate-3 bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 transition-transform duration-500 group-hover:rotate-0 group-hover:scale-110 shadow-2xl"
             style="object-position: 50% 50%">

        <!-- Glow animado -->
        <span class="absolute inset-0 rounded-2xl bg-green-custom/40 blur-4xl opacity-40 group-hover:opacity-60 transition-opacity duration-500 pointer-events-none"></span>
    </div>
</article>

<!-- <script src="./AboutMe.astro.js"></script> -->